html{
    background-color: gray;
}

body {
    font-family: 'DejaVu Sans', Arial, Helvetica, serif;
    font-size: 14px;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
    padding: 20px 20px;
}

form fieldset {
    padding-top: 20px;
}

form div {
    float: left;
    clear: left;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 1em;
}

form button.button {
    margin-left: 60%;
}

form div > label {
    width: 25%;
    font-size: 16px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 20px;
    line-height: 20px;
    padding: 0;
    font-weight: bold;
}

form div > input {
    height: 20px;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.center {
    vertical-align: middle;
    border-radius: 25px;
    margin: auto;
    width: 33%;
    border: 3px solid #00BFFF;
    padding: 10px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.center_newuser {
    vertical-align: middle;
    border-radius: 25px;
    margin: auto;
    width: 33%;
    border: 3px solid #00BFFF;
    padding: 10px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.button {
    border-radius: 25px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}

img {
    padding-bottom: 20px;
    display: block;
}

.page {
    font-size:24px;
    min-width:600px;
    max-width:1800px;
}

.title {
    background-color:#008CBA;
    text-align:center;
}

.left {
    float:left;
    background-color:#DDD;
    min-height:150px;
    width:25%;
}

.middle {
    float:left;
    background-color:#EEE;
    min-height:150px;
    width:50%;
}

.right{
    float:left;
    background-color:#DDD;
    min-height:150px;
    width:25%;
}

.bottom {
    clear:both;
    background-color:#008CBA;
    text-align:center;
}

p {
    margin:0;
    padding:15px;

}
