<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UFT-8">
    <title>Welcome to Tweeter!</title>
    <link type="text/css"
          rel="stylesheet"
          href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>

<body>

<img style="margin-left: 37%" alt="Logo" src="../static/images/logoFull.png" th:src="@{/images/logoFull.png}"/>

<div class="center">
    <form th:action="@{/login-process}" method="post">
        <div>
            <label for="inputLogin">Login:</label>
            <input id="inputLogin" type="text"
                   th:required="required" name="login"/>
        </div>
        <div>
            <label for="inputPassword">Password:</label>
            <input id="inputPassword" type="password"
                   th:required="required" name="password"/>
        </div>
        <button class="button" type="submit">Submit</button>
    </form>
</div>

<br>
<div>
    <a style="margin-left: 46%" class="button" href="http://localhost:8080/adduser">Create new account</a>
</div>
<br>
<div>
    <a style="margin-left: 46.5%" class="button" href="http://localhost:8080/passwordreset">Forgot password?</a>
</div>

</body>


</html>
