<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<h1><p></p></h1>

<table width="100%">
    <tr>
        <td width="150" valign="top">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">User Name </div>
                <div class="card-body text-dark">
                <h3 class="card-title">Todayhether</h3>
                <p class="card-text">Some whether info in your city</p>
                </div>
            </div>
        </td>


        <td width="500" valign="top">
            <div class="shadow p-3 mb-5 bg-white rounded" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="What is going on in Your City ?" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post</button>
                </div>
            </div>
        </td>

        <td width="150" valign="top" align="right" >
            <button type="button" class="btn btn-secondary btn-lg">Log Out</button>
        </td>
    </tr>
</table>

</body>
</html>