<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UFT-8">
    <title>Create Account</title>
    <link type="text/css"
          rel="stylesheet"
          href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>

<body>

<img alt="Logo" src="../static/images/logoFull.png" th:src="@{/images/logoFull.png}"/>

<div class="center_newuser">

    <h1>Create new account</h1>

    <form th:action="@{/adduser}" method="post" th:object="${newUser}">
        <div>
            <label for="login">Login:</label>
            <input id="login" type="text" th:field="*{login}"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" th:field="*{password}"/>
        </div>
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" th:field="*{name}"/>
        </div>
        <div>
            <label for="surname">Surname:</label>
            <input id="surname" type="text" th:field="*{surname}"/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" type="email" th:field="*{email}"/>
        </div>
        <div>
            <label for="birth_date">Birth date:</label>
            <input id="birth_date" type="date" th:field="*{birthDate}"/>
        </div>
        <div>
            <label for="country">Country:</label>
            <input id="country" type="text" th:field="*{country}"/>
        </div>
        <div>
            <label for="city">City:</label>
            <input id="city" type="text" th:field="*{city}"/>
        </div>

        <button class="button" type="submit">Create new account</button>

    </form>
</div>

</body>
</html>
